/* ---------------------------
        BODY STYLE 
----------------------------- */
body {
font-family: 'Roboto', sans-serif;
background-color: #464668;
text-transform: uppercase;
font-size: 2em;
}
/* remove dotted outline on buttons */

* {
outline: 0px !important;
-webkit-appearance: none;
}
h3{
    text-shadow: 2px 3px #a30c9c;
    font-weight: bold;
}
/* ---------------------------
  MAIN CONTAINER
 ----------------------------- */
#main-container {
width: 35%;
margin-top: 40px;
height: 580px;
box-shadow: 10px 90px 50px;
}
/* ---------------------------
    HEADER PANEL
 ----------------------------- */
#heading-panel {
height: 250px;
width: 100%;
padding-top:30px;
color: #ffffff;
text-align: center;
background-color: #0b1e44;
}
/* ---------------------------
    WORK DURATION PANEL 
 ----------------------------- */

.panel-2 {
height: 100px;
width: 100%;
}
#work-duration {
text-align: center;
width: 100%;
padding: 10px;
background-color: #dadaff;
/* color: #0d1d08; */
/* text-shadow: 2px 3px #fc5d66; */
color: #0b1e44;

/* text-shadow: 2px 3px #fc5d66; */

font-size: 28px;

font-weight: bold;
}
/* ---------------------------
    BREAK DURATION PANEL 
 ----------------------------- */
#break-duration {
text-align: center;
width: 100%;
padding: 10px;
background-color: #dadaff;
color: #0b1e44;

/* text-shadow: 2px 3px #fc5d66; */

font-size: 28px;

font-weight: bold;
/* text-shadow: 2px 3px #fc5d66; */
}
/* ---------------------------
    BUTTON PANEL
 ----------------------------- */
#button-panel {
text-align: center;
background-color: #000500;
height: auto;
width: 100%;
font-size: 20px;
font-weight: 700;
}
.btn {
background-color: transparent;
text-transform: uppercase;
border: none;
color: #6d7797;
font-size: 1em;
}
.upperpanelBtn {
height: 50px;
font-size: 30px;
}
.upperpanelBtn:hover {
background-color: #fc5d66;
}
/* ---------------------------
    TIMER PANEL
 ----------------------------- */
#timer-panel {
background-color: #fc5d66;
color: #ffffff;
height: 150px;
width: 100%;
text-align: center;
padding: 20px;
}
#showtime {
font-size: 40px;
}